*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
body {
  @include textPrimary(400, 14px, 24px, $colorBaliHai);
}
// Header
.intro {
  .img-holder {
    max-height: 890px;
    overflow: hidden;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    .header-logo {
      background: url(../images/logo.png) no-repeat;
      position: absolute;
      width: 151px;
      height: 47px;
      top: 39px;
      left: 52px;
    }
    .header-text {
      position: absolute;
      bottom: 140px;
      text-transform: uppercase;
      left: 52px;
      span {
        display: inline-block;
      }
      h1 {
        @include textSecondary(400, 20px, 24px, $colorWhite);
        span {
          color: $colorAtlantis;
        }
      }
      p {
        @include textSecondary(700, 15px, 24px, $colorWhite);
        margin-left: 66px;
        span {
          color: $colorPersimmon;
        }
      }

      @include media(">=768px") {
        h1 {
          @include textSecondary(400, 30px, 36px, $colorWhite);
        }
        p {
          margin-left: 116px;
        }
      }
      @include media(">=991px") {
        left: 114px;
        h1 {
          @include textSecondary(400, 40px, 48px, $colorWhite);
        }
        p {
          margin-left: 166px;
        }
      }
    }
  }
  .header-nav {
    .header-nav-list {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 53px;
      right: 40px;

      @include media(">=768px") {
        flex-direction: row;
        right: 40px;
        li {
          margin-left: 50px;
        }
      }
      @include media(">=991px") {
        right: 70px;
        li {
          margin-left: 67px;
        }
      }
      li {
        a {
          text-decoration: none;
          @include textSecondary(400, 13px, 20px, $colorWhite);
        }
        a:hover {
          color: $colorAtlantis;
        }
      }
    }
  }
}
// End header
// Section
.section-wrapper {
  background: $backgroundAtlantis;
  .data:nth-child(odd) {
    .data-content {
      order: 1;
    }
    .data-img {
      order: 2;
    }
  }
  @include media(">=768px") {
    .data:nth-child(odd) {
      .data-content {
        order: 2;
      }
      .data-img {
        order: 1;
      }
    }
  }
}

.data {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  background: $backgroundWhite;
  @include media(">=768px") {
    flex-wrap: nowrap;
  }

  @include media(">=1181px") {
    width: 1181px;
  }
}
.data-content {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  width: 401px;
  padding: 35px;

  @include media(">=768") {
    padding: 50px 35px;
  }
  em {
    text-transform: uppercase;
    @include textSecondary(400, 14px, 20px, $colorPersimmon);
    letter-spacing: 1.4px;
    margin-top: 16px;
    margin-bottom: 3px;
    display: block;
  }
  h2 {
    text-transform: uppercase;
    @include textSecondary(300, 35px, 40px, $colorAtlantis);
    letter-spacing: -2.5px;
    margin-bottom: 16px;
  }
  .data-content-icon {
    background: url("../images/icons.png") no-repeat -3px 0;
    width: 15px;
    height: 23px;
    margin-bottom: 18px;
    display: block;
  }

  p {
    @include textPrimary(400, 14px, 26px, $colorNevada);
    margin-bottom: 1px;
    letter-spacing: 0.2px;
  }
  a {
    display: block;
    color: $colorAtlantis;
  }
  a:hover {
    color: $colorPersimmon;
    text-decoration: none;
  }
}

.data-img {
  height: 394px;
  overflow: hidden;
  position: relative;
  span {
    display: block;
  }
  img {
    display: block;
    width: auto;
  }
  span:after {
    content: "";
    position: absolute;
    bottom: 45px;
    height: 31px;
  }
  .logo-for-img-fitnes-first::after {
    background: url(../images/logo-for-fitness-first.png) no-repeat;
    right: 42px;
    width: 127px;
  }
  .logo-for-img-your-body:after {
    background: url(../images/logo-for-your-body.png) no-repeat;
    left: 42px;
    width: 145px;
  }
  @include media(">=768") {
    flex: 1;
  }
}
