*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
body {
  @include textPrimary(400, 14px, 24px, $textColor);
}
// Header
.intro {
  .img-holder {
    max-height: 890px;
    overflow: hidden;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    .header-logo {
      background: url(../images/logo.png) no-repeat;
      position: absolute;
      width: 151px;
      height: 47px;
      top: 39px;
      left: 52px;
    }
    .header-text {
      position: absolute;
      bottom: 140px;
      text-transform: uppercase;
      span {
        display: inline-block;
      }
      h1 {
        span {
          color: $textColorGreen;
        }
      }
      p {
        @include textSecondary(700, 15px, 24px, $textColorPrimary);
        span {
          color: $textColorRed;
        }
      }
      @include media("<768px") {
        left: 52px;
        h1 {
          @include textSecondary(400, 20px, 24px, $textColorPrimary);
        }
        p {
          margin-left: 66px;
        }
      }
      @include media(">=768px") {
        left: 52px;
        h1 {
          @include textSecondary(400, 30px, 36px, $textColorPrimary);
        }
        p {
          margin-left: 116px;
        }
      }
      @include media(">=991px") {
        left: 114px;
        h1 {
          @include textSecondary(400, 40px, 48px, $textColorPrimary);
        }
        p {
          margin-left: 166px;
        }
      }
    }
  }
  .header-nav {
    .header-nav-list {
      text-transform: uppercase;
      @include media("<768px") {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 53px;
        right: 40px;
      }
      @include media(">=768px") {
        display: flex;
        position: absolute;
        top: 53px;
        right: 40px;
        li {
          margin-left: 50px;
        }
      }
      @include media(">=991px") {
        display: flex;
        position: absolute;
        top: 53px;
        right: 70px;
        li {
          margin-left: 67px;
        }
      }
      li {
        a {
          text-decoration: none;
          @include textSecondary(400, 13px, 20px, $textColorPrimary);
        }
        a:hover {
          color: $textColorGreen;
        }
      }
    }
  }
}
// End header
// Section
.section-wrapper {
  background: $backgroundGreen;
  .data {
    display: flex;
    .data-content {
      width: 401px;
      background: $backgroundWhite;
    }
    @include media("<768px") {
      width: auto;
      margin: auto;
    }
    @include media(">=768px") {
      width: auto;
      margin: auto;
    }
    @include media(">=991px") {
      width: auto;
      margin: auto;
    }
    @include media(">=1181px") {
      width: 1181px;
      margin: auto;
    }
  }
  .data-img {
    flex: 1;
    height: 394px;
    overflow: hidden;
    position: relative;
    span {
      display: block;
    }
    img {
      display: block;
      width: auto;
    }
    span::after {
      background: url(../images/logo-for-fitness-first.png) no-repeat;
      content: "";
      position: absolute;
      bottom: 45px;
      right: 42px;
      width: 127px;
      height: 31px;
    }
  }
}
